.main-container {
  display: flex;
  height: 100%;
  position: absolute;
  width: 100%;
}
.auth-sidebar{
  color: #866118;
  background: #f2d184;
  width: 80%;
}
.auth-header {
  display: none;
}
.btn-forgot {
  cursor: pointer;
  color: #866118;
}
@media(max-width: 767px){
  .auth-sidebar-container h1 {
    font-size: 16px!important;
    margin-bottom: 10px!important;
    padding: 4px 6px 0px 10px !important;

  }
  .auth-sidebar-container p {
    font-size: 13px!important;
    padding: 4px 6px 0px 10px !important;
    font-weight: bold;

  }
  .auth-sidebar header {
    padding: 4px 6px 0px 10px !important;
    max-width: 100%;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 700px;
  }

  .auth-sidebar{
    height:100px;
    width: 100%;
    margin: 0!important;
    padding: 0!important;
    font-size: 10px;
  }
  .auth-sidebar-container{
    height: 200px;
    margin: 0!important;
    padding: 0!important;
    font-size: 10px;
  }
  .container {
    margin: 0!important;
    padding: 0!important;
    max-width: 500px!important;
    height: 100%;
    overflow: scroll;
  }
  .auth-container{
    margin: 0px 30px 0 30px!important;
    padding: 0;
    max-width: 414px;
  }

  .auth-form {
    max-width: 100%;
  }

  .auth-form input {
    width: 100%!important;
  }

  .container nav {
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    font-weight: bold;
    margin-top: 30px!important;
    margin-right: 30px;
  }

}
.auth-sidebar-container h1 {
  font-size: 20px;
  margin-bottom: 50px;
}
.auth-sidebar-container p {
  font-size: 30px;
  margin-bottom: 50px;
  font-weight: bold;
  line-height: 150%;
}
.auth-sidebar header {
  padding: 64px 64px 30px;
  max-width: 100%;
}
/*container*/

.container {
  padding: 64px 10px 0px 0px;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.container nav {
  display: flex;
  justify-content: flex-end;
  font-size: 15px;
  font-weight: bold;
  max-width: 590px;
}
.container nav a, a:visited {
  font-size: 15px;
  color: #866118;
  text-decoration: none;
}

.auth-container{
  margin: 0px 60px 80px 90px;
  max-height: 500px;
  max-width: 500px;

}
.auth-form {
  max-width: 500px;
}

.auth-form label{
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
  display: block;
}
.auth-form button{
  cursor: pointer;
  background: #866118;
  color: #f2d184;
  padding: 10px 35px;
  border-radius: 8px;
  font-size: 17px;
  margin-top: 10px;
  transition: all 0.5s;
  margin-bottom: 50px;
  border: 0;
}

.success {
  color: green;
  display: flex;
  justify-content: center;
  border: 1px solid green;
  margin: 30px;
  padding: 50px;
  max-width: 400px;
}

.loading {
  display: flex;
  font-size: 25px;
  font-weight: bold;
  color: #866118;
  margin-top: 20px;
  padding: 20px;
}



.button{
  cursor: pointer;
  background: #866118;
  color: #f2d184;
  padding: 10px 35px;
  border-radius: 8px;
  font-size: 17px;
  margin-top: 10px;
  transition: all 0.5s;
  margin-bottom: 50px;
  border: 0;
}

.auth-form button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.auth-form button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.auth-form button:hover span {
  padding-right: 25px;
}

.auth-form button:hover span:after {
  opacity: 1;
  right: 0;
}
.input-group{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.auth-container h2 {
  margin-bottom: 30px;
  font-weight: bold;
}
/*end-container*/
